version: "3.9"

services:
  db:
    image: postgres
    container_name: rentx_db
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=ignite
      - POSTGRES_DB=rentx
      - TZ=America/Bahia
      - PGTZ=America/Bahia
    volumes:
      - pgdata:/data/postgres
    # network_mode: host

  # api:
  #   build: .
  #   container_name: rentx_api
  #   ports:
  #     - 3333:3333
  #   volumes:
  #     - .:/usr/app
  #   network_mode: host


volumes:
  pgdata:
    driver: local
